{% extends "base.html" %}

{% block content %}


<section id="profile" class="xh-100 gradient-custom-2">
  <div class="container py-5 xh-100" style="padding-top: 1rem!important">
    <div class="row d-flex justify-content-center align-items-center xh-100x">
      <div class="col col-lg-12 col-xl-12">
        <div class="card-none">
          <div class="rounded-top-none text-white d-flex flex-row" style="background-color: #E9EAEB; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="{{ user.avatar(150) }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              
              <a class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;" href="{{ url_for('users.edit_profile') }}">Edit profile</a>
            </div>
            <div class="ms-3" style="margin-top: 130px; color: #333;">
              <h5>{{ user.name }}</h5>
              <p class="username">{{ user.username }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">{{ image_count }}</p>
                <p class="small text-muted mb-0">Images</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ purchase_count }}</p>
                <p class="small text-muted mb-0">Purchases</p>
              </div>
              <div>
                <p class="mb-1 h5">{{ user.reward_points }}</p>
                <p class="small text-muted mb-0">Rewards points</p>
              </div>
            </div>
          </div>
          <div class="card-body-none p-4-none text-black" style="margin-top: 1.5rem">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1 about-me">{% if user.about_me %}Bio: {{ user.about_me }} {% endif %}</p>
                <p class="font-italic mb-1">{% if user.email %} Email: {{ user.email }} {% endif %}</p>
                <p class="font-italic mb-0">{% if user.last_seen %} Last seen on: {{ user.last_seen }} {% endif %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}