{% extends "base.html" %}

{% block content %}
    <div class="product-listing mt-3 mb-5">

        <div class="d-flex align-items-center mb-2">
            <h1 class="d-inline-block mb-0 me-4">My Purchased Items</h1>
            {% if request.args.get('q') %}
                <a class="d-inline-block pretty-btn nav-link prettygrey" href="{{ url_for('products.my_purchases') }}">Reset search</a>
            {% endif %}
        </div>

        <p>All items purchased by you.</p>

        {% for product in products %}

            {% include 'product.html' %}
        
        {% endfor %}
        
        <nav aria-label="Post navigation">
            <ul class="pagination">
                <li class="page-item{% if not prev_url %} disabled{% endif %}">
                    <a class="me-3" href="{{ prev_url }}">
                        <span aria-hidden="true">&larr;</span> {{ ('Newer items') }}
                    </a>
                </li>
                <li class="page-item{% if not next_url %} disabled{% endif %}">
                    <a class="me-3" href="{{ next_url }}">
                        {{ ('Older items') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
{% endblock %}