{% extends "base.html" %}

{% block content %}
    <!-- The main index page of the BuySell web application. -->
    <main role="main" class="intro">

        <div class="container pb-5 pt-5">
            <div class="row mt-3">
                <div class="col-md-12">
                    <h1 class="display-4 text-center">Would you like to earn money? It's easy!</h1>
                </div>
            </div>
        </div>

        <div class="container mt-5 mb-5">
            <div class="row g-5 text-center">
                <div class="col-md-6">
                    <h2><i class="bi bi-1-square"></i> Generate and sell images</h2>
                    <p class="fs-5">Use our advanced artificial intelligence to craft and monetize unique images, earning money both through generating and selling your artwork!</p>
                    <p><a class="pretty-btn nav-link prettyred" href="{{ url_for('products.sell') }}" role="button">Sell Now &raquo;</a></p>
                </div>
                <div class="col-md-6">
                    <h2><i class="bi bi-2-square"></i> Collect and get rewards</h2>
                    <p class="fs-5">Collect a collection of images to assemble a comprehensive gallery, and receive a monetary reward for your efforts!</p>
                    <p><a class="pretty-btn nav-link" href="{{ url_for('products.buy') }}" role="button">Buy Now &raquo;</a></p>
                </div>
            </div>
        </div>

        <div class="container pb-5 pt-5 stats">
            <div class="row g-5 text-center">
                <div class="col-md-4">
                    <h2><i class="bi bi-person-hearts"></i> Users</h2>
                    <div class="counter bisque"><span data-count="{{ user_count }}"></span></div>
                </div>
                <div class="col-md-4">
                    <h2><i class="bi bi-images"></i> Images</h2>
                    <div class="counter bisque"><span data-count="{{ image_count }}"></span></div>
                </div>
                <div class="col-md-4">
                    <h2><i class="bi bi-cash-coin"></i> Rewards</h2>
                    <div class="counter price">$<span data-count="{{ total_credit_rewards }}"></span></div>
                </div>
            </div>
        </div>

        {% if recent_images %}
            <div class="container latest-images pb-5 pt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center pb-3">Recent generated images</h2>
                        <div class="latest-images-carousel text-center">
                            {% for product in recent_images %}
                                <div class="slide-item">
                                    <div class="d-inline-block">
                                        <img class="cut-corner"
                                             src="{{ url_for('static', filename='images/nft/' ~ product.image) }}"
                                             alt="{{ product.name | truncate(10) }}">
                                        <h6 class="text-center pt-3">{{ product.name | truncate(20) }}<span
                                                class="category"> ({{ product.category }})</span> <span
                                                class="price">${{ product.price }}</span></h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </main>
{% endblock %}
