{% extends "base.html" %}

{% block content %}

    <main role="main" class="intro">

        <div class="container pb-5 pt-5">
            <div class="row mt-3">
                <div class="col-md-12">
                    <h1 class="display-4 text-center">Would you like to earn money? It's easy!</h1>
                </div>
            </div>
        </div>

        <div class="container mt-5 mb-5">
            <div class="row g-5 text-center">
                <div class="col-md-6">
                    <h2><i class="bi bi-1-square"></i> Generate and sell images</h2>
                    <p class="fs-5">Use our advanced artificial intelligence to craft and monetize unique images, earning money both through generating and selling your artwork!</p>
                    <p><a class="pretty-btn nav-link prettyred" href="{{ url_for('products.sell') }}" role="button">Sell Now &raquo;</a></p>
                </div>
                <div class="col-md-6">
                    <h2><i class="bi bi-2-square"></i> Collect and get rewards</h2>
                    <p class="fs-5">Collect a collection of images to assemble a comprehensive gallery, and receive a monetary reward for your efforts!</p>
                    <p><a class="pretty-btn nav-link" href="{{ url_for('products.buy') }}" role="button">Buy Now &raquo;</a></p>
                </div>
            </div>
        </div>

            <div class="container pb-5 pt-5 stats">
            <div class="row g-5 text-center">
                <div class="col-md-4">
                    <h2><i class="bi bi-person-hearts"></i> Users</h2>
                    <div class="counter bisque"><span data-count="{{ user_count }}"></span></div>
                </div>
                <div class="col-md-4">
                    <h2><i class="bi bi-images"></i> Images</h2>
                    <div class="counter bisque"><span data-count="{{ image_count }}"></span></div>
                </div>
                <div class="col-md-4">
                    <h2><i class="bi bi-cash-coin"></i> Rewards</h2>
                    <div class="counter price">$<span data-count="124356"></span></div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}