            <div data-id="{{ product.id }}" class="card area">
              <img alt="{{ product.name }}" class="card-img-top" src="{{ product.image }}" />
              <div class="card-body">
                  <h6 class="card-title">{{ product.name | truncate(10)}} <span class="category">({{ product.category }})</span></h6>
                <p class="card-text ">
                    <small class="price">${{ product.price }}</small> &bull;
                    <small>{{ product.timestamp.strftime('%Y-%m-%d') }}</small>
                </p>
              </div>
              <div class="card-footer">
                <div class="row align-items-center g-0">
                  <div class="col-auto">
                    <img src="{{ product.seller.avatar(24) }}" class="rounded-circle avatar-xs" alt="avatar">
                  </div>
                  <div class="col ms-2">
                    <span>{{ product.seller.username }}</span>
                  </div>
                  <div class="col-auto">
                    {% if product.is_sold == False and product.seller_id != current_user.id%}
                        <button onclick="transferDataToModal(this)" data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price | round | int }}" type="button" class="pretty-btn nav-link btn-sm" data-bs-toggle="modal" data-bs-target="#buyModal">Buy</button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>